* {
    box-sizing: border-box;
    margin: 0;
    padding: o;
    background-color: #2b2c2e;
    color: azure;
}

.header {
    height: 30vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

    @media screen and (max-width: 768px) {
        .header {
            font-size: 18px;
            margin-bottom: -72px;
        }
    }

    @media screen and (max-width: 480px) {
        .header {
            font-size: 18px;
            margin-bottom: -72px;
        }
    }

    @media screen and (max-width: 360px) {
        .header {
            font-size: 18px;
            margin-bottom: -72px;
        }
    }

.tools {
    height: 15vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

    @media screen and (max-width: 768px) {
        .tools {
            font-size: 14px;
        }
    }

    @media screen and (max-width: 480px) {
        .tools {
            font-size: 14px;
        }
    }

    @media screen and (max-width: 360px) {
        .tools {
            font-size: 14px;
        }
    }

.tools-section {
    height: 22vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button {
    color: #fff;
    text-decoration: none;
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    background: #2a45bb;
    padding: 14px;
    border-radius: 4px;
    border: none;
    margin: 22px;
    cursor: pointer;
}