* {
    box-sizing: border-box;
    margin: 0;
    padding: o;
    background-color: #2b2c2e;
    color: azure;
}

.header {
    height: 30vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tools {
    height: 15vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

.tools-section {
    height: 22vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button {
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    background: #2a45bb;
    padding: 20px;
    border-radius: 4px;
    border: none;
    margin: 22px;
    cursor: pointer;
}